body  {
  font-size: 20px;
  background-image:url(http://i0.kym-cdn.com/photos/images/newsfeed/001/003/878/f2a.gif);
  background-position:center;
}


.heading{
  width: 50%;
  margin: 30px auto;
  text-align : center;
  color: #C60000;
  background: #7F6A6A;
  border: 2px solid #141648;
  Border-radius: 26px;
}

Form {
  width: 50%;
  margin: 30px auto;
  border-radius: 5px;
  padding : 10px;
  background : #7F6A6A;
  border: 1px solid #141648;
}

form p {
  color : red;
  margin : 0px;
}



.task_input{
  width: 73%;
  height: 15px;
  padding: 10px;
  border: 2px solid #141648

}
.add_btn {
  height: 39px;
  background: #FFF8DC;
  color: #6B8E23
  border: 2px solid #6B8E23
  border-radius: 5px;
  padding : 5px 20px;
}


table {
  width : 50%;
  margin: 30px auto;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #cbcbcb;
  border-width:1px;
  border-style:dotted;
  border-color:black;
  background-color : #5F736C
}

th {
  font-size: 19px;
  color: #000100;
}

th, td{
  border: none;
  height: 30px;
  padding: 2px;
}

tr:hover {
  background: #E9E9E9;
}

.task {
  text-aligh: left;
}

.delete{
  text-aligh: center;
}
.delete a{
  color: white;
  background: #a52a2a;
  padding: 1px 6px;
  border-radius: 3px;
  text-decoration: none;
  align-self: auto;
}

h2 {
   text-align: center;
   font-size: 50px;
   color: #DC2C00;

}
